.personal-information {
    padding-top: 100px;
}


.medical-information {
    padding-top: 100px;
    padding-bottom: 100px;
}

.emergency-contact {
    padding-bottom: 30px;
}

.emergency-edit-button {
    float: right;
}