.personal-information {
    padding-top: 100px;
}


.medical-information {
    padding-top: 100px;
    padding-bottom: 100px;
}

.emergencies-container {
    padding-top: 50px;
    padding-bottom: 100px;
}
.emergency-contact {
    padding-bottom: 15px;
}

.emergency-edit-button {
    float: right;
}


/* basic information conatiner start */

.basic-information-p {
    margin-bottom: 5px;
}

.basic-span {
    font-weight: lighter;
}

/* basic information conatiner end */